<nav>
    <!-- Encabezado de la tabla -->
    <h1>Tabla</h1>
</nav>

<div class="container">
    <aside>
        <!-- Menú lateral -->
        <h2>Menú</h2>
        <h1>Incluir Divisa</h1>
        <ul>
            <li><a href="../incluir/incluir.component.html">Incluir</a></li>
        </ul>
    </aside>

    <main>
        <h1>Consulta Divisa</h1>
        <div class="search">
            <ul>
                <li><a href="../consultar/consultar.component.html">Consulta</a></li>
            </ul>
            <!-- Código HTML para la búsqueda de los dos componentes -->
        </div>

        <div class="table">
            <h3>Información</h3>
            <table>
                <thead>
                    <!-- Encabezados de las columnas -->
                    <tr>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Valor Tasa</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Fila de datos -->
                    <tr>
                        <td>
                            <!-- Etiqueta y campo de entrada para la Fecha Inicio -->
                            <label for="fechaInicio">Fecha Inicio:</label>
                        </td>
                        <td>
                            <!-- Campo de entrada para la Fecha Inicio -->
                            <input id="fechaInicio" type="date"
                                value="fechaInicio" checked="fechaInicio">
                        </td>
                        <td>
                            <!-- Etiqueta y campo de entrada para la Fecha Fin -->
                            <label for="fechaFin">Fecha Fin:</label>
                        </td>
                        <td>
                            <!-- Campo de entrada para la Fecha Fin -->
                            <input id="fechaFin" type="date" value="fechaFin"
                                checked="fechaFin">
                        </td>
                        <td>
                            <!-- Etiqueta y campo de entrada para el Valor Tasa -->
                            <label for="valorTasa">Valor Tasa:</label>
                        </td>
                        <td>
                            <!-- Campo de entrada para el Valor Tasa -->
                            <input id="valorTasa" type="text" value="valorTasa"
                                checked="valorTasa">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>