nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  main {
    padding: 10px;
  }
  
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
  }
  
  .table h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .table th {
    font-weight: bold;
  }
  
  .table input[type="date"],
  .table input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }