<div class="navbar-viñetas" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img [src]="rutaImagen" alt="seniat">
  </div>
</div>
<div class="content">
  <div class="table-vertical">
    <table>
      <thead>
        <tr>
          <th>Menu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/src/app/incluir-tasa/incluir-tasa.component.html">Incluir</a></td>
        </tr>
        <tr>
          <td><a href="/src/app/consular-tasa/consular-tasa.component.html">Consultar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-horizontal">
    <table>
      <caption>Tasa Interes Activos</caption>
      <tbody>
        <tr>
          <td>Fecha de Inicio</td>
          <td>Fecha de Fin</td>
          <td>Valor Tasa</td>
          <td>
            Actualizar
            <p>
              <input type="button" src="./consular-tasa.component.ts">
            </p>
          </td>
        </tr>
        <tr>
          <td>Informacion</td>
          <td>Informacion</td>
          <td>Informacion</td>
          <td>
            Modificar
            <p>
              <input type="button" src="./consular-tasa.component.ts">
            </p>
          </td>
        </tr>
        <tr>
          <td>Informacion</td>
          <td>Informacion</td>
          <td>Informacion</td>
          <td>
            Anular
            <p>
              <input type="button" src="./consular-tasa.component.ts">
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>