<div class="incluir">
  <h2>Incluir</h2>
  <div class="field">
    <label>Fecha Inicio:</label>
    <div class="value">{{ fechaInicio }}</div>
  </div>
  <div class="field">
    <label>Fecha Fin:</label>
    <div class="value">{{ fechaFin }}</div>
  </div>
  <div class="field">
    <label>Valor Tasa:</label>
    <div class="value">{{ valorTasa }}</div>
  </div>
</div>
<br />
<button (click)="incluirComponent()">Incluir</button>