<h2>Consultar</h2>
<div class="field">
  <label>Fecha Inicio:</label>
  <div class="value">{{ fechaInicio }}</div>
</div>
<div class="field">
  <label>Fecha Fin:</label>
  <div class="value">{{ fechaFin }}</div>
</div>
<br />
<button (click)="consultarDivisa()">Consultar</button>