<div class="anular-divisa">
    <h2>Anular Divisa</h2>
    <div class="field">
      <label>Fecha Inicio:</label>
      <div class="value">{{ fechaInicio }}</div>
    </div>
    <div class="field">
      <label>Fecha Fin:</label>
      <div class="value">{{ fechaFin }}</div>
    </div>
  </div>
  <br />
  <button (click)="anularDivisa()">Anular</button>