<div class="container">
  <div class="table-vertical">
    <table>
      <thead>
        <tr>
          <th>Menu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Incluir</td>
        </tr>
        <tr>
          <td>Consultar</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
  <div class="table-horizontal">
    <table>
      <thead>
        <tr>
          <th>Tasa Interes Activos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fecha de Inicio</td>
          <td>Fecha de Fin</td>
          <td>Valor Tasa</td>
          <th>Actualizar
            <!-- <p>
            <input type="button" src="./consular-tasa.component.ts">
            </p> -->
          </th>
        </tr>
        <tr>
          <td>María</td>
          <td>35</td>
          <td>Abogada</td>
          <th>Modificar
            <p>
            <input type="button" src="./consular-tasa.component.ts"></p>
          </th>
        </tr>
        <tr>
          <td>Informacion</td>
          <td>Informacion</td>
          <td>Informacion</td>
          <th>Anular
            <p><input type="button" src="./consular-tasa.component.ts"></p>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>